<%- include('partials/header') -%>
<div class = "details-container">
<h1 >About</h1><br><br>
<p >WELCOME TO PickList. We  hope you find it useful. By accessing or otherwise interacting with our servers, services, websites, mobile app ("App"), or any associated content/postings (together, "CL"), you agree to these Terms of Use ("TOU") (last updated August 16, 2019). You acknowledge and agree CL is a private site owned and operated by craigslist, Inc. If you are accessing or using CL on behalf of a business, you represent and warrant to CL that you have authority to accept the TOU on behalf of that business and that that business agrees to the TOU. If you do not agree to the TOU, you are not authorized to use CL or download the App. We may modify the TOU at any time in our sole discretion. You are responsible for periodically checking for changes and are bound by them if you continue to use CL. Our privacy policy (cl.com/about/privacy.policy), prohibited list (cl.com/about/prohibited), and all other policies, site rules, and agreements referenced below or on CL, are fully incorporated into this TOU, and you agree to them as well.</p>
<br>
<p >We take precautions to prevent unauthorized access to or misuse of data about you.
We do not run ads, other than the classifieds posted by our users.
We do not share your data with third parties for marketing purposes.
We do not engage in cross-marketing or link-referral programs.
We do not employ tracking devices for marketing purposes.
We do not send you unsolicited communications for marketing purposes.
We do not engage in affiliate marketing (and prohibit it on CL).
We do provide email proxy & relay services to reduce unwanted email.
Please review privacy policies of any third party sites linked to from CL</p>
</div>
<%- include('partials/footer') -%>
