<%- include("partials/header") -%>
<div class = "details-container">
<h1>Contact Us</h1><br><br>
<p>Welcome to the PickList website. My company believes that good financial decisions don't have to be confusing. I can provide simple, proven techniques that can help you make the most of your money and help achieve more of your financial goals.

This site will not only introduce you to my company philosophy and services, but it will also offer a wealth of educational materials, articles, newsletters, calculators, and other tools -- all designed to keep you up-to-date on financial issues, strategies, and trends. This educational material is updated frequently, as is our calendar of events, which lists upcoming financial workshops that you may want to attend.

If you have any questions or want to schedule a complimentary meeting to discuss your specific questions, you can e-mail me at thomasterance98@gmail.com or call 9496342920.</p>

</div>
<%- include("partials/footer") -%>