<%- include('partials/header') -%>
<div class = "details-container">
<h1 >Terms & Conditions</h1><br><br>
<h3>Introducion</h3>
<p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Webiste Name accessible at Website.com.
These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.
Minors or people below 18 years old are not allowed to use this Website.</p><br>
<h3>Intellectual Propery Rights</h3><br>
<p>Other than the content you own, under these Terms, Company Name and/or its licensors own all the intellectual property rights and materials contained in this Website.
You are granted limited license only for purposes of viewing the material contained on this Website.</p>
</div>

<%- include('partials/footer') -%>
